/* パンダの画面 */
#pandahead {
    transform: scale(-1, 1);
    display: flex;
}

/* headerをくっつく */
.header_together {
    justify-content: center;
    justify-items: center;
}

.list {
    display: block;
}

/* botton */
.btn_panda {
    margin-top: 100px;
    margin-bottom: 150px;
    display: block;
    padding: 10px 50px 10px 50px;
    /* 左右に矢印を置くためのスペースを空ける */
    background: #00ABB3;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    height: 50px;
}

.btn_panda:hover {
    transform: scale(1.1);
    /* 拡大 */
}